alias cp="cp -i"
alias fs="ranger"
alias q="exit"
alias dcu="update_dotfiles.sh -sd"
alias dcr="update_dotfiles.sh"
alias aa="add_app.sh"
alias sbg="set_background.sh"
alias ls="ls --color"
alias grep="grep --color"